<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stage1</key>
	<dict>
		<key>Level1</key>
		<dict/>
		<key>Level2</key>
		<dict/>
		<key>Level3</key>
		<dict>
			<key>SpringTool</key>
			<integer>6</integer>
		</dict>
		<key>Level4</key>
		<dict>
			<key>SpringTool</key>
			<integer>4</integer>
			<key>BombTool</key>
			<integer>8</integer>
		</dict>
		<key>Level5</key>
		<dict>
			<key>SpringTool</key>
			<integer>6</integer>
			<key>BombTool</key>
			<integer>4</integer>
		</dict>
		<key>Level6</key>
		<dict>
			<key>SpringTool</key>
			<integer>4</integer>
			<key>BombTool</key>
			<integer>6</integer>
		</dict>
		<key>Level7</key>
		<dict>
			<key>SpringTool</key>
			<integer>2</integer>
			<key>BombTool</key>
			<integer>20</integer>
		</dict>
		<key>Level8</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>0</integer>
			<key>FanTool</key>
			<integer>0</integer>
			<key>GravityTool</key>
			<integer>0</integer>
		</dict>
		<key>Level9</key>
		<dict>
			<key>SpringTool</key>
			<integer>5</integer>
			<key>BombTool</key>
			<integer>15</integer>
			<key>GlueTool</key>
			<integer>5</integer>
			<key>FanTool</key>
			<integer>5</integer>
			<key>GravityTool</key>
			<integer>5</integer>
		</dict>
		<key>Level10</key>
		<dict>
			<key>SpringTool</key>
			<integer>20</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
			<key>GravityTool</key>
			<integer>3</integer>
		</dict>
		<key>Level11</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
		</dict>
		<key>Level12</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Stage2</key>
	<dict>
		<key>Level1</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>5</integer>
			<key>FanTool</key>
			<integer>5</integer>
		</dict>
		<key>Level2</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
			<key>GravityTool</key>
			<integer>2</integer>
		</dict>
		<key>Level3</key>
		<dict>
			<key>SpringTool</key>
			<integer>10</integer>
			<key>BombTool</key>
			<integer>8</integer>
			<key>GlueTool</key>
			<integer>3</integer>
			<key>FanTool</key>
			<integer>3</integer>
		</dict>
		<key>Level4</key>
		<dict>
			<key>SpringTool</key>
			<integer>4</integer>
			<key>BombTool</key>
			<integer>8</integer>
			<key>GlueTool</key>
			<integer>4</integer>
			<key>FanTool</key>
			<integer>3</integer>
			<key>GravityTool</key>
			<integer>2</integer>
		</dict>
		<key>Level5</key>
		<dict>
			<key>SpringTool</key>
			<integer>6</integer>
			<key>BombTool</key>
			<integer>4</integer>
			<key>GlueTool</key>
			<integer>6</integer>
			<key>FanTool</key>
			<integer>6</integer>
		</dict>
		<key>Level6</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>5</integer>
			<key>GlueTool</key>
			<integer>4</integer>
			<key>FanTool</key>
			<integer>4</integer>
			<key>GravityTool</key>
			<integer>2</integer>
		</dict>
		<key>Level7</key>
		<dict>
			<key>SpringTool</key>
			<integer>4</integer>
			<key>BombTool</key>
			<integer>15</integer>
			<key>GlueTool</key>
			<integer>4</integer>
			<key>FanTool</key>
			<integer>8</integer>
			<key>GravityTool</key>
			<integer>3</integer>
		</dict>
		<key>Level8</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>0</integer>
			<key>FanTool</key>
			<integer>0</integer>
			<key>GravityTool</key>
			<integer>0</integer>
		</dict>
		<key>Level9</key>
		<dict>
			<key>SpringTool</key>
			<integer>5</integer>
			<key>BombTool</key>
			<integer>15</integer>
			<key>GlueTool</key>
			<integer>5</integer>
			<key>FanTool</key>
			<integer>5</integer>
			<key>GravityTool</key>
			<integer>5</integer>
		</dict>
		<key>Level10</key>
		<dict>
			<key>SpringTool</key>
			<integer>20</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
			<key>GravityTool</key>
			<integer>3</integer>
		</dict>
		<key>Level11</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
		</dict>
		<key>Level12</key>
		<dict>
			<key>SpringTool</key>
			<integer>15</integer>
			<key>BombTool</key>
			<integer>10</integer>
			<key>GlueTool</key>
			<integer>10</integer>
			<key>FanTool</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
